* {
  font-family: "Trebuchet MS", sans-serif;
  font-size: 20px;
  padding: 0em;
  margin: 0em;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

p {
  font-size: 1.2rem;
}

.container {
  margin: 0em 10rem;
}

.title {
  font-size: 5rem;
  width: 50%;
  margin-top: 5rem;
}

.span {
  font-size: 5rem;
  color: rgb(255, 109, 109);
}

.subtitle {
  font-size: 2rem;
}

.creds {
  color: gray;
  font-size: 1.2rem;
  padding-top: 1rem;
}

.line {
  height: 4px;
  border-radius: 2rem;
  width: 20rem;
  background: black;
  margin-top: 1rem;
}

.section-title {
  font-size: 3rem;
  margin: 3rem 0rem;
}

.left-content {
  padding: 1rem 0rem;
}

.large-content {
  font-size: 3rem;
}

.inline-img {
}

.inline {
  display: flex;
}

.flexed-right {
  padding: 3rem;
}

.flexed-left {
  padding: 3rem 3rem 3rem 0rem;
}

.emphasis {
  color: rgb(255, 109, 109);
}

.container-blue {
  border-width: 0.3rem;
  border-color: rgb(255, 109, 109);
  border-radius: 1rem;
  border-style: solid;
  padding: 2rem;
  margin: 2rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.container-blue h1 {
  font-size: 3rem;
  text-align: center;
}

.list li {
  margin-left: 2rem;
  font-size: 2rem;
}

.centered-large {
  font-size: 3rem;
  text-align: center;
  padding: 2rem;
}

.center-content {
  text-align: center;
  font-size: 1.5rem;
  padding: 2rem;
}

.logos img {
  width: 8rem;
  box-shadow: 1px 1px 5px 1px rgb(231, 231, 231);
  border-radius: 0.2rem;
}

.image-1 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-1 a:hover {
  animation: pulse 1s;
  animation-timing-function: ease-in-out;
}

.title-container {
  opacity: 0;
  filter: blur(20px);
  transition: all 1s;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

.logos {
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
  padding: 4rem;
}

.hidden {
  opacity: 0;
  filter: blur(20px);
  transform: translateX(-50%);
  transition: all 1s;
}

.show {
  opacity: 1;
  filter: blur(0);
  transform: translateX(0);
}

.page-scroll .btn-circle i.animated {
  -webkit-transition-property: -webkit-transform;
  -webkit-transition-duration: 1s;
  -moz-transition-property: -moz-transform;
  -moz-transition-duration: 1s;
  -webkit-animation-name: pulse;
  -moz-animation-name: pulse;
  -webkit-animation-duration: 1.5s;
  -moz-animation-duration: 1.5s;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -moz-animation-timing-function: linear;
}

.page-scroll .btn-circle:hover i.animated {
  -webkit-animation-name: pulse;
  -moz-animation-name: pulse;
  -webkit-animation-duration: 1.5s;
  -moz-animation-duration: 1.5s;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -moz-animation-timing-function: linear;
}

@-webkit-keyframes pulse {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }

  50% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }

  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@-moz-keyframes pulse {
  0% {
    -moz-transform: scale(1);
    transform: scale(1);
  }

  50% {
    -moz-transform: scale(1.2);
    transform: scale(1.2);
  }

  100% {
    -moz-transform: scale(1);
    transform: scale(1);
  }
}

.text-center {
  text-align: center;
}

.filler {
  height: 200px;
}

.btn-circle {
  width: 90px;
  height: 90px;
  border-radius: 60px;
  font-size: 40px;
  color: rgba(0, 0, 0, 0.6);
  -webkit-transition: background 0.4s ease-in-out;
  -moz-transition: background 0.4s ease-in-out;
  transition: background 0.4s ease-in-out;
}

.btn-circle:hover,
.btn-circle:focus {
  outline: 0;
  color: #ff8787;
  background: rgba(255, 255, 255, 0.1);
}

.logo:nth-child(2) {
  transition-delay: 200ms;
}
.logo:nth-child(3) {
  transition-delay: 300ms;
}
.logo:nth-child(4) {
  transition-delay: 400ms;
}
.logo:nth-child(5) {
  transition-delay: 500ms;
}
.logo:nth-child(6) {
  transition-delay: 600ms;
}
.logo:nth-child(7) {
  transition-delay: 700ms;
}
.logo:nth-child(8) {
  transition-delay: 800ms;
}
.logo:nth-child(9) {
  transition-delay: 900ms;
}
